title: Chenjae's git
description: 개발자로 진화중, Chenjae
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://chenjae.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Author
author-name:    Chenjae
author-image:   1.jpg
author-job:     Developer
author-email:   injea95@naver.com # Add your email for contant form.
author-twitter: # Add your twitter account
about-author:   진취형 개발자

# Social settings
social-twitter: null
social-facebook: null
social-github:    chenjae
social-pinterest: null
social-instagram: chen.jae
social-youtube: null
social-vk:   null
social-linkedin: null

# Newsletter
mailchimp: # Add your MailChimp form identifier. For example - blogenjoyfreedom.us16.list-manage.com/subscribe/post?u=cd56155d76ddeeb4c0bc4d080&amp;id=7a526cd13e

# Google Analytics
google-analytics: # Add your identifier. For example UA-99631805-1

# Comment Section (Disqus)
disqus-identifier: mr-brown # Add your shortname for Disqus Comment. For example mr-brown

# Build settings
markdown: kramdown
permalink: /:year/:month/:day/:title/
plugins:
  - jekyll-paginate

paginate: 7
paginate_path: "/page/:num/"

include:
  - _pages

sass:
  sass_dir: _sass
  style: compressed

# Exclude from processing.
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor
